<!-- Placeholder for page content -->
<div id="plugin-view">
</div>

<!-- Template for custom component -->
<script type="text/ng-template" id="app/slide/index.html">
    <div class="container">
        <a class="btnstylerev" back-button>{{ ::'Back' | translate }}</a>
        <h2 class="page-header">Slide UI</h2>
        <slide-devices
        ng-if="$ctrl.devices"
        devices="$ctrl.devices"
        on-update-domoticz-device="$ctrl.refreshDomoticzDevices()"
        on-calibrate="$ctrl.calibrateSlide(device)"
        />
    </div>
</script>

<script type="text/ng-template" id="app/slide/devices.html">
    <div class="btn-panel align-right">
        <button class="btn btn-default" ng-click="$ctrl.onUpdate()">{{:: 'Refresh' | translate }}</button>
    </div>

    <slide-devices-table
            devices="$ctrl.devices"
            on-update="$ctrl.onUpdate()"
            on-calibrate="$ctrl.calibrateSlide()"
    />

</script>
<script>
    require(['../templates/slide'], function() {
        // This piece triggers Angular to re-render page with custom components support
        angular.element(document).injector().invoke(function($compile) {
            var $div = angular.element('<slide-plugin />');
            angular.element('#plugin-view').append($div);

            var scope = angular.element($div).scope();
            $compile($div)(scope);
        });
    });
</script>